@model AuthorRequestPageVM



<form asp-controller="Author" asp-action="CreateAuthor" method="post" class="form">
    
    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Yazar Ismi</label>
        <input asp-for="Author.FirstName" class="form-control">
    </div>

    <div class="mb-3">
        <label for="exampleFormControlInput2" class="form-label">Yazar SoyIsmi</label>
        <input asp-for="Author.LastName" class="form-control">
    </div>


    <button class="btn btn-primary">
        Ekle
    </button>








</form>